    table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      margin: 0;
      background-color: #ececec;
    }


    .title {
      font-size: 2.5rem;
      text-align: center;
      padding: 20px 25% 0;
    }

    .title img {
      width: 100%;
    }

    .zutaten {
      padding: 20px 25%;
      line-height: 25.4px;
      letter-spacing: .5px;
    }

    .zubereitung {
      padding: 20px 25%;
      line-height: 25.4px;
      letter-spacing: .5px;
    }

    .footer {
      /*text-align: center;*/
      padding: 20px 25%;
      line-height: 25.4px;
      letter-spacing: .5px;
    }

    .footer .media {
      padding: 20px 0;
    }

    .footer img {
      width: 64px;
    }

    .navbar .fas {
      padding-right: 10px;
    }

    .navbar img {
      width: 20px;
    }

    @media (max-width: 1028px) {

      body {
        font-size: 1.5rem;
      }

      .title {
        font-size: 2rem;
        text-align: center;
        padding: 20px 0 0;
      }

      .zutaten,
      .zubereitung {
        padding: 20px 20px;
        line-height: 25.4px;
        letter-spacing: .5px;
      }

	  .navbar-brand{
		font-size: 35px;
	  }
	  
	  .nav-link{
		  font-size: 30px;
	  }
	  
	  .navbar-toggler-icon{
		  height: 1.8rem;
		  width: 1.8rem;
	  }
	  
	}
	